<app-calculator></app-calculator>
<!-- <mat-slider min="1" max="100" step="1" value="1"></mat-slider> -->

<!-- <div class="example-container"> -->
<!--   <mat-form-field appearance="fill"> -->
<!--     <mat-label>Input</mat-label> -->
<!--     <input matInput> -->
<!--   </mat-form-field> -->
<!--   <br> -->
<!--   <mat-form-field appearance="fill"> -->
<!--     <mat-label>Select</mat-label> -->
<!--     <mat-select> -->
<!--       <mat-option value="option">Option</mat-option> -->
<!--     </mat-select> -->
<!--   </mat-form-field> -->
<!--   <br> -->
<!--   <mat-form-field appearance="fill"> -->
<!--     <mat-label>Textarea</mat-label> -->
<!--     <textarea matInput></textarea> -->
<!--   </mat-form-field> -->
<!-- </div> -->

<!-- <mat-form-field appearance="fill"> -->
<!--   <mat-label>Phone number</mat-label> -->
<!--   <example-tel-input required></example-tel-input> -->
<!--   <mat-icon matSuffix>phone</mat-icon> -->
<!--   <mat-hint>Include area code</mat-hint> -->
<!-- </mat-form-field> -->
